@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;
@font-face {
    font-family: Alro;
    src: url(/fonts/Quicksand_wght.ttf);
}
#root{  
    background-image: linear-gradient(-225deg, #222831 67%, #3f72af 100%);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    color: aliceblue;
    overflow-x: hidden;
}
main{
    overflow-y: scroll ;

}

@layer components{
    .Projects_container{
        @apply grid  px-[4rem] px-16  md:h-screen pt-[5rem] gap-8 w-full;
        grid-template-columns: repeat(auto-fit,minmax(21rem,1fr));
        grid-auto-rows: 13.3rem;
    }
    .Hero_container{
        @apply grid px-[4rem]  gap-8 w-full;
        grid-template-columns: repeat(auto-fit,minmax(24rem,1fr));
        grid-auto-rows: 25rem;
    }
    .points{
        grid-template-columns: repeat(auto-fit,minmax(22rem,1fr));
        grid-auto-rows: 5rem;
        @apply grid gap-8;
    }
    .line{
        @apply w-10 border-2 border-[#247ee8] inline-block mb-1 rounded mr-2;
    }
    .textLink{
        @apply text-[#247ee8] inline-block ml-3 underline;
    }
    .Name{
        @apply text-[2rem] leading-10 font-semibold ;
        font-size:clamp(1.2rem,4vh,4rem) ;
        font-family: Alro;
    }
    .main-title{
        font-size: clamp(2rem,10vw,4rem);
    }
    .Alro{
        font-family: Alro;
    }
    main{
        @apply md:pt-[5rem] w-screen  md:pl-[5rem] pl-0
    }
    section{
        @apply p-12
    }
    .btn{
        @apply px-[1.2em] text-base block py-[0.8em]  bg-[#3f99f4] rounded-lg
    }
    .box{
        @apply bg-[#3f99f3] p-3 rounded  justify-around flex flex-col items-center gap-4
    }

    .item1{
        @apply  grid;
        grid-template-columns: repeat(auto-fit,minmax(20rem,0.8fr));
        width: 100%;
    }
    .arrow{
        @apply flex items-center justify-center
    }
    .anime{
    
    }
}
